.card-selection-form {
	white-space: nowrap;

	.card-selector {
		display: inline-flex;
		flex-direction: column;
		height: 350px;
		width: 250px;
		vertical-align: top;
		margin-right: 10px;

		.filter-list {
			display: flex;
		}

		.list-actions {
			display: flex;
			padding-top: 5px;

			.list-action {
				flex: 1;
				min-height: 0;
				padding: 0;
				font-size: 10px;

				&:first-child {
					margin-right: 5px;
				}
			}
		}
	}

	.card-preview {
		height: 350px;
	}
}

@media screen and (max-width: @mobile-cutoff) {
	.card-selection-form {
		display: flex;
		flex-direction: column;
		flex: 1;

		.card-selector {
			flex: 1;
			width: 100%;
			margin-right: 0;
		}

		.card-preview {
			display: none;
		}
	}
}
