.single-deck {
	@import "./partials/control-panel";
	@import "./partials/pinboard";

	.card-container {
		padding: 10px;
		text-align: center;

		.card {
			box-shadow: 0 5px 15px 0 @color-black;
		}
	}
}
